########################################
# Python environments & caches
########################################
venv/
backend/venv/
backend/.venv
__pycache__/
*.pyc
*.pyo

########################################
# Node modules & frontend builds
########################################
frontend/node_modules/
frontend/dist/

########################################
# Logs & artifacts
########################################
backend/app/logs/
*.log

########################################
# OS / IDE / VCS files
########################################
.git/
.gitignore
.gitattributes
.vscode/
.DS_Store

########################################
# Build files to exclude
########################################
Dockerfile
dist/
logs/
.env
